<!DOCTYPE html>
<html>
<head>
    <title>TüSearch</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

<h1>Tübingen Search Machine</h1>

<form method="POST">
    <input type="hidden" name="type" value="query">
    <input type="hidden" name="show_scores" value ="{{show}}">
    <input
        type="text"
        name="query"
        placeholder="Search..."
        value="{{ query }}"
        autofocus>

    <button type="submit">Search</button>
</form>

<hr>

{% if results %}
<div style="display: flex; align-items: center; gap: 10px;">
    <h2 style="margin: 0;">Results</h2>
    
    <form style="margin:0;" method="POST">
        <input type="hidden" name="type" value="scores">
        <input type="hidden" name="show_scores" value="{{not show}}">
        <input type="hidden" name="query" value="{{query}}">
        <button type="submit">
            {% if show %}
                Hide Scores
            {% else %}
                Show Scores
            {% endif %}
        </button>
    </form>
</div>


{% for result in results %}
<a href="{{result.url}}">{{result.title}}</a>
{% if show %}
<div>Score: {{result.score}}, BM25 Score: {{result.bm25_score}}, Expanded Score: {{result.expanded_score}}</div>
{% endif %}
<div>
    {{result.snippet}}
</div>

{% endfor %}
{% endif %}

</body>
</html>